*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

:root
{
    --gradient : linear-gradient(to right top, #1625BB, #FFD700);
    --darkGold : rgb(44, 42, 42);
    --blue : #4482FB;
    --boxShadow : -20px 20px 30px rgba(32, 126, 40, 0.137);
}




.ProfileImage{
    width: 250px;
    height: 300px;
    margin-top: 4rem;
    border-radius: 30px;
    border-left: 1px solid var(--blue);
    border-right: 5px solid var(--blue);

}


